.container {
  display: flex;
  height: 100vh;
  background-color: var(--white-100);
  color: var(--gray-900);
  overflow-y: auto;
}

.containerLogin {
  width: 50%;
  background-color: var(--green-300);
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerLogin > div {
  width: 25rem;
  height: 25rem;
  background-color: var(--white-100);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1.5rem;
}

.containerLogin h2 {
  font-size: 2rem;
  text-align: center;
  color: var(--gray-900);
}

.formLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.containerLogin .formLogin form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.formLogin form > div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  align-items: center;
  justify-content: center;
}

.formLogin form > div > p {
  color: var(--red-500);
  font-size: 0.9rem;
}

.containerLogin form input {
  width: 20rem;
  height: 2.5rem;
  outline: none;
  padding-left: 0.5rem;
  border: none;
  font-size: 1rem;
  color: var(--gray-600);
  background-color: var(--white);
  border-bottom: 1px solid var(--green-300);
}

.containerLogin button {
  width: 20rem;
  height: 2.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  background-color: var(--green-300);
  color: var(--white);
  transition: all, 0.3s;
}

.containerLogin button:disabled {
  opacity: 0.8;
}

.containerLogin button:hover,
button:not(:disabled) {
  background-color: var(--green-500);
  cursor: pointer;
}

.containerLogin input,
.containerLogin button {
  border-radius: 4px;
}

.containerLogin input:focus {
  outline: transparent;
  border-bottom: 2px solid var(--green-300);
}

.rememberMe {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.rememberMe span {
  color: var(--gray-600);
  font-size: 1rem;
  font-style: italic;
  transition: all, 0.3s;
}

.rememberMe span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.containerSecondary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.containerSecondary > div {
  width: 25rem;
  height: 25rem;
}

.containerSecondary img {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.containerInputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

@media screen and (min-width: 260px) and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .containerLogin {
    width: 100%;
  }

  .container h2 {
    font-size: 1.5rem;
  }

  .containerLogin > div {
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .containerLogin form input,
  .containerLogin form button {
    width: 100%;
  }

  .containerSecondary {
    height: 100%;
  }
}

@media screen and (min-width: 601px) and (max-width: 1200px) {
  .containerLogin > div {
    width: 90%;
  }
  .containerLogin form input,
  .containerLogin form button {
    width: 100%;
  }

  .containerSecondary {
    width: 50%;
  }
}
