.containerInputs {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  height: 3rem;
  margin: 1rem 0;
}

.containerInputs input {
  border: none;
  height: 2.5rem;
  padding-left: 1rem;
  border-bottom: 1px solid var(--green-300);
  outline: none;
  max-width: 15rem;
  background-color: var(--white);
  color: var(--gray-700);
  font-size: 1rem;
}

.containerInputs input:hover {
  border-bottom: 2px solid var(--green-300);
}

.containerInputs select {
  border: none;
  height: 2.5rem;
  padding-left: 1rem;
  border-bottom: 1px solid var(--green-300);
  background-color: var(--white);
  outline: none;
  /* border-radius: 4px; */
  color: var(--gray-700);
  font-size: 1rem;
}
